*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #F8F8F8;
}

.text-center {
    text-align: center;
}

/* Media Queries */
/* Mobile phones */
@media screen and (min-width: 200px) {

    body,
    html {
        font-size: 1em;
    }

    .mobile-flex-main {
        display: flex;
        flex-direction: column;
        margin: .7em .7em;
        gap: 1em;
    }

    .text-center {
        text-align: center;
    }

    img {
        max-width: 60%;
        margin-top: 1em;
        border-radius: .4em;
    }

    .mobile-flex-cat {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* Tablet wih screen above 750px */
@media screen and (min-width: 750px) {

    body,
    html {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 900px) {

    body,
    html {
        font-size: 1.4em;
    }
}

@media screen and (min-width: 1200px) {

    body,
    html {
        font-size: 1em;
    }
}

/* Web title styling */
.web-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #B4D2E7;
}

header h1 {
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
}

/* Nav styling */
.flex-navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header nav ul>li {
    display: inline;
    margin-right: 2.5em;
    font-weight: 500;
}

header nav {
    background-color: #e3e3e3;
    min-width: 100%;
    text-align: center;
    padding: .4em 0;
}

/* Main content styling */
.bg-orange-rounded {
    background-color: #f0c674;
    border-radius: .4em;
    box-shadow: 2em;
}

.bg-pink-rounded {
    background-color: #f49b95;
    border-radius: .4em;
    box-shadow: 2em;
}

.bg-blue-rounded {
    background-color: #98becb;
    border-radius: .4em;
    box-shadow: 2em;
}

.bg-my-profile {
    background-color: #CDC2AE;
    border-radius: .4em;
}

/* Footer styling */
footer {
    background-color: #B4D2E7;
    padding: 2em;
    margin-top: 1.5em;
}