*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Flex Container */
.flex-container-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


/* Web title styling */
header .web-title {
    background-color: #EEC6CA;
    text-align: center;
}

header h1 {
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
}

/* Nav styling */
header nav li {
    display: inline;
    margin-right: 2.5em;
    font-weight: 500;
}

header nav {
    background-color: #e3e3e3;
    min-width: 100%;
    text-align: center;
    padding: .4em 0;
}